.effect-underline {
  color: #041433;
  display: inline-block;
  position: relative;
  transition: .3s;
}

.shop {
  color: green;
}

.talk {
  color: blue;
}

.login {
  border-radius: 8px;
}

h1 a:link { text-decoration: none; }
h1 a:visited { text-decoration: none; }
h1 a:hover { 
  color: rgb(95, 91, 91);
  font-size: 105%;
}

a.effect-underline:after {
  text-decoration: none;
	content: '';
  position: absolute;
  left: -5%;
  display: inline-block;
  height: 1em;
  width: 110%;
  border-bottom: 4px solid #0066f9;
  margin-top: 15px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.effect-underline:hover:after {
  text-decoration: none;
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.lead {
  margin: 0;
  padding: 0;
}

.product {
  display: grid;
  place-items: center;
  justify-content: center;
  outline: 1px solid white;
  border-radius: 30px;
  transition: .3s;
}

.product:hover {
  outline: 1px solid rgb(194, 194, 194);
  outline-offset: 5px;
  border-radius: 30px;
}
.product:hover .title{
  text-decoration: underline;
}

.addToCart {
  border-radius:  8px;
}

.image-cropper {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.image-background {
  position: relative;
  top: 0;
  left: 0;
  filter: brightness(85%);
}

.image-bag {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  position: absolute;
  top: 10px;
  left: 35px;
  margin: 0 auto;
  height: 90%;
  width: auto;
}

img {  
  display: inline;
  margin: 0 auto;
  height: 200px;
  width: 200px;
}

.postForm {
  display: grid;
  width: 80%;
  place-items: center start;
  margin: auto;
}

.topic {
  width: 40%;
}

.comment {
  width: 80%;
  height: auto;
}

.postBtn {
  border-radius: 20px;
  border: none;
  width: 20%;
}

.postBtn:hover {
  background-color: rgb(123, 207, 123);
}

.forumName {
  color: blue;
}

.commentImg {
  border-radius: 50%;
  width: 50px;
  height: auto;
}

.commentBox {
  width: 80%;
  background-color: rgb(11, 7, 31);
  border: none;
  box-shadow: 5px 6px 6px 2px #e9ecef;
  border-radius: 8px;
  color: white;
}